In [1]:
tuple1 = (1,2,3)
tuple2 = (11,5,6,8)
new_tuple = tuple1 + tuple2
print (new_tuple)
list_1 = list(tuple1)
print (list_1)
list_1.pop()
print (list_1)
for number in new_tuple:
    print(f'number {number} repeats {new_tuple.count(number)} times')
print (f'max value in tuple {max(new_tuple) }')
tmp_list = list (new_tuple)
tmp_list.sort(reverse=True)
print (tmp_list)
print (f'max value in tuple {tmp_list[0] }')


for number in range(1,11):
    print (number)
my_sum = 0
for number in range(1,51):
    my_sum += number
    # print( my_sum)
print (my_sum)

(1, 2, 3, 11, 5, 6, 8)
[1, 2, 3]
[1, 2]
number 1 repeats 1 times
number 2 repeats 1 times
number 3 repeats 1 times
number 11 repeats 1 times
number 5 repeats 1 times
number 6 repeats 1 times
number 8 repeats 1 times
max value in tuple 11
[11, 8, 6, 5, 3, 2, 1]
max value in tuple 11
1
2
3
4
5
6
7
8
9
10
1275

In [2]:
# new_list = [1,2,3] + ['1','2','3' ]
new_list = [1,2,3] + [7,6,5,5,5,5,5 ]
print (new_list)
new_list.pop()
print (new_list)
new_list.sort(reverse=True)
print (new_list)
for number in new_list:
    print(f'number {number} repeats {new_list.count(number)} times')

[1, 2, 3, 7, 6, 5, 5, 5, 5, 5]
[1, 2, 3, 7, 6, 5, 5, 5, 5]
[7, 6, 5, 5, 5, 5, 3, 2, 1]
number 7 repeats 1 times
number 6 repeats 1 times
number 5 repeats 4 times
number 5 repeats 4 times
number 5 repeats 4 times
number 5 repeats 4 times
number 3 repeats 1 times
number 2 repeats 1 times
number 1 repeats 1 times

In [3]:
my_list = [ 1, 3, 5 ]
print (len(my_list))
my_list.append(9)
print(my_list)

3
[1, 3, 5, 9]

In [ ]:
user_input = input('Enter a number:')
user_number = int(user_input)
for i in range(1,11):
    print (f'number {user_number} multiplied by {i} is equal to {user_number * i}')

In [4]:
if 2>1:
    print('This is True')

This is True

In [5]:
if 0>1:
    print('This is True')
print('end of script')

end of script

In [6]:
number = 5
if number > 10:
    print(f'The number is more than 10')
else:
    print(f'The number is less or equal than 10')
print('end of script')

The number is less or equal than 10
end of script

In [7]:
number = 13
if number > 10:
    print(f'The number is more than 10')
else:
    print(f'The number is less or equal than 10')
print('end of script')

The number is more than 10
end of script

In [8]:
name = 'Manvydas'
year = 1996
if name == 'Tomas':
    print ('Hi Tomas')
elif name == 'Manvydas' and year > 1900:
    print('Hi Manvydas')
else:
    print('Hi unknown person')
print('end of script')

Hi Manvydas
end of script

In [9]:
for number in range(1,31):
    if number % 3 ==0:
        print(number)

3
6
9
12
15
18
21
24
27
30

In [10]:
my_list = list(range(110,213,4))
print (my_list)

for idx in range(0,len(my_list)):
    if idx % 7 == 0:
        print (my_list[idx])

[110, 114, 118, 122, 126, 130, 134, 138, 142, 146, 150, 154, 158, 162, 166, 170, 174, 178, 182, 186, 190, 194, 198, 202, 206, 210]
110
138
166
194

In [11]:
my_sum = 0

for number in range(1,51):
    if (my_sum +number) % 2 == 0:
        my_sum += number
        print(my_sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [14]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

avaliable_days = ['Monday','Tuesday']
avaliable_hours = [12, 13, 14, 15, 16, 17]
combinations = []
for day in days:
    if day in avaliable_days:
        print(day)
        for hour in hours:
            if hour in avaliable_hours:
                print(hour)
                combination = (day,hour)
                combinations.append(combination)
            
print(combinations)

Monday
12
13
14
15
16
17
Tuesday
12
13
14
15
16
17
[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17)]

In [15]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

available_days = [ 'Monday', 'Wednesday']
available_hours = [12, 13, 14, 15, 16, 17]

combinations = []
for day in days:
    if day in available_days:
        print(day)
        for hour in hours:
            if hour in available_hours:
                print (hour)
                combination = (day,hour)
                combinations.append(combination)
        print ('Checking next day')

print (combinations)

Monday
12
13
14
15
16
17
Checking next day
Wednesday
12
13
14
15
16
17
Checking next day
[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [16]:
#list comprehension

my_list = [3,32,5,2]
mult_2 = [number*2 for number in my_list]
print(mult_2)

[6, 64, 10, 4]

In [17]:
my_list = [3,32,5,2]
mult_2 = [number*2 for number in my_list if number % 2==0]
print(mult_2)

[64, 4]

In [25]:

days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

valid_days = [ 'Monday', 'Wednesday']
valid_hours = [12, 13, 14, 15, 16, 17]

combinations = [ (day, hour) for day in days for hour in hours if day in valid_days and hour in valid_hours ]
print(combinations)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [27]:
my_list = [5,4,74,7,132,132,13]
# [RESULT for STH in ITERABLE]
mult = [number*2 if number % 2 == 0 else number*3 for number in my_list ]
print(mult)

[15, 8, 148, 21, 264, 264, 39]

In [34]:
#Dictionary

my_dict = {
    'name':['tomas','audrius'],
    'age': 12,
    False: 'false',
    5:'five',
    'hobies':['futbolas', 'tenisas'],
}
print(my_dict)
print(len(my_dict))

{'name': ['tomas', 'audrius'], 'age': 12, False: 'false', 5: 'five', 'hobies': ['futbolas', 'tenisas']}
5

In [35]:
tmp_dict = dict.fromkeys(['sum','mult_sum','div_sum'],0)
print(tmp_dict)

{'sum': 0, 'mult_sum': 0, 'div_sum': 0}

In [40]:
print(my_dict.get('age'))
print(my_dict['age'])
print(my_dict.get('namai')) #none
print(my_dict.get('namai',False))

12
12
None
False

In [42]:
# my_dictionary['address'] # gives an error
print (my_dict.get('address', False) )
if my_dict.get('address', False) == False:
    print ("Dictionary does not contain 'address' info")

False
Dictionary does not contain 'address' info

In [43]:
print(my_dict.pop(False))# gives error on second run

false

In [45]:
new_dict = {
    'key': 'raktai',
    'namai':'Vilnius',
}

my_dict.update(new_dict)
print(my_dict)

{'name': ['tomas', 'audrius'], 'age': 12, 5: 'five', 'hobies': ['futbolas', 'tenisas'], 'key': 'raktai', 'namai': 'Vilnius'}

In [46]:
for key, value in my_dict.items():
    print(f'key {key} has a value of {value}')

key name has a value of ['tomas', 'audrius']
key age has a value of 12
key 5 has a value of five
key hobies has a value of ['futbolas', 'tenisas']
key key has a value of raktai
key namai has a value of Vilnius

In [1]:
user_input = None

for i in range(5):
    if user_input is None:
        print ('user_input has no value, enter it.')
        user_input = input("Enter your name")
        if not user_input:
            print ("You haven't enterned anything")
            user_input = None
    else:
        print (f'User name is : {user_input}')

user_input has no value, enter it.
User name is : asd
User name is : asd
User name is : asd
User name is : asd